<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.getlose.myhiskiocourse">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHiskioCourse"
        tools:ignore="Instantiatable">
        <activity
            android:name=".CourseTwo.TwoThreeActivity"
            android:exported="false" />
        <activity
            android:name=".CourseTwo.SixFourActivity"
            android:exported="false" />
        <activity
            android:name=".CourseTwo.TwoCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.OneCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FourTeenTwoActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenOneBActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenTwoActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenOneAActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenOneActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenThreeBActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FifTeenThreeAActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.ThirteenOneActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.ThirteenTwoActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.EightFiveActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.SevenTeenThreeActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.TwelveOneActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.ElevenFourActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.TwentyOneOneActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.FourTeenOneActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.SevenThreeActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.ElevenThreeActivity"
            android:exported="false" />
        <activity
            android:name=".CourseOne.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyService" />
    </application>

</manifest>